

{% load static %}
<!DOCTYPE html>
<html>
   <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <script type="text/javascript">
         var socket = null;
         var isopen = false;

         window.onload = function() {

            socket = new WebSocket("ws://{{socket_addr}}");
            socket.binaryType = "arraybuffer";

            socket.onopen = function() {
               console.log("Connected!");
               isopen = true;
               var date = new Date();
               $('#today').append(date.toDateString());
               socket.send(JSON.stringify({'token': "{{ token }}", 'room': window.location.pathname, 'from': 'chat'}));
            };
            var date = new Date();
            socket.onmessage = function(e) {
               var date = new Date();
               var time = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
               if (!!e.data && JSON.parse(e.data)['message']) {
                   var data = JSON.parse(e.data);
                  console.log("Text message received: " + data['message']);
                  $('#mymessage').append('<div class="row">\
                                            <div class="col-lg-12">\
                                                <div class="media">\
                                                    <div class="media-body">\
                                                        <h4 class="media-heading">' + data["user"] + '\
                                                            <span class="small pull-right">' + time + '</span>\
                                                        </h4>\
                                                        <p>' + data["message"] + '</p>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                        </div><hr>');
               }
               else if (JSON.parse(e.data)['messages']) {
                   var messages = JSON.parse(e.data)['messages'];
                   for (var i = 0; i < messages.length; i++) {
                       $('#mymessage').append('<div class="row">\
                                            <div class="col-lg-12">\
                                                <div class="media">\
                                                    <div class="media-body">\
                                                        <h4 class="media-heading">' + messages[i]["user"] + '\
                                                            <span class="small pull-right">' + messages[i]["datetime"] + '</span>\
                                                        </h4>\
                                                        <p>' + messages[i]["message"] + '</p>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                        </div><hr>');
                   }
               }
               else {
                    console.log('No message ' + e.data)
               }
            };

            socket.onclose = function(e) {
               console.log("Connection closed.");
               socket = null;
               isopen = false;
            }
         };

         function sendText(text) {
            var date = new Date();
            var time = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            var data = {'text': text, 'room': window.location.pathname, 'datetime': time, 'from': 'chat'};
            if (isopen) {
               socket.send(JSON.stringify(data));
               console.log("Text message sent.");
               $('.message-text').val('')
            } else {
               console.log("Connection not opened.")
            }
         }
      </script>
   </head>
   <body>
   <div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-circle text-green"></i> Chat</h4>
                    </div>
                    <div class="portlet-widgets">
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="chat" class="panel-collapse collapse in">
                    <div>
                    <div id="mymessage" class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <p id="today" class="text-center text-muted small"></p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="portlet-footer">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control message-text" placeholder="Enter message..."></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default pull-right" onclick="sendText($('.message-text').val())">Send</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
</div>
   </body>
</html>

