{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <link rel="stylesheet" href="{% static 'reveal.js/css/reveal.css' %}">
  <link rel="stylesheet" href="{% static 'reveal.js/css/theme/night.css' %}">
  <div class="reveal">
    <div class="slides">
      <section data-markdown="/media/{{slides}}"
      data-separator="^\n\n\n"
      data-separator-vertical="^\n\n">
    </section>
  </div>
</div>
<audio id="theirs" autoplay></audio>
<script src="{% static 'reveal.js/js/reveal.js' %}"></script>
<script src="{% static 'reveal.js/lib/js/head.min.js' %}"></script>
<script src="{% static 'reveal.js/plugin/markdown/marked.js' %}"></script>
<script src="{% static 'reveal.js/plugin/markdown/markdown.js' %}"></script>
<script src="{% static 'reveal.js/lib/js/classList.js' %}"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
  Reveal.initialize({
      embedded: true,
      controls: false,
      progress: false,
      keyboard: false,
      overview: false,
      multiplex: {
          secret: null,
          id: {{ id }},
          url: 'http://{{socket_addr}}'
      }
  });
  var isopen = false;
  var connection;

  function start_socket(websocketServerLocation) {
      connection = new WebSocket(websocketServerLocation);
      connection.onopen = function() {
          connection.send(JSON.stringify({
              'from': 'reveal',
              'register': true
          }));
          isopen = true;
          connection.send(JSON.stringify({
              register: true,
              subscriber: true,
              from: 'signal',
          }));
          startConnection();
          startPeerConnection('{{id}}');
          console.log("Connected!");
      }
      connection.onmessage = function(e) {
          data = JSON.parse(e.data);
          customOnMessage(data);
      }
      connection.onclose = function() {
          console.log("Connection closed.");
          setTimeout(function() {
              start_socket(websocketServerLocation)
          }, 1000);
      };
      connection.onerror = function(err) {
          console.log("Got error", err);
      };
  }

  start_socket("ws://{{socket_addr}}")
  var multiplex = Reveal.getConfig().multiplex;
  var socketId = multiplex.id;

  function customOnMessage(data) {
      switch (data.to) {
          case "signal":
              signalMessage(data);
              break;
          case "reveal":
              revealMessage(data);
              break;
          default:
              break;
      }
  }

  function signalMessage(data) {
      console.log("Got message", data);
      switch (data.type) {
          case "offer":
              onOffer(data.offer, data.uuid);
              break;
          case "answer":
              onAnswer(data.answer, data.uuid);
              break;
          case "candidate":
              onCandidate(data.candidate, data.uuid);
              break;
          case "leave":
              onLeave(data.uuid);
              break;
          default:
              break;
      }
  }

  function revealMessage(data) {
      console.log(data.socketId);
      console.log(socketId);
      if (data.socketId != socketId) return;
      if (window.location.host === '{{socket_addr}}') return;
      Reveal.setState(data.state);
  }

  function send(message) {
      console.log('Function send, yourConnection:', yourConnection)
      console.log('Function send, connectedUser:', connectedUser);
      if (connectedUser) {
          message.uuid = connectedUser;
          message.from = 'signal';
      }
      console.log(message)
      connection.send(JSON.stringify(message));
  };

  var theirAudio = document.querySelector('#theirs'),
      yourConnection, connectedUser, stream;

  function startConnection() {
      if (hasRTCPeerConnection()) {
          setupPeerConnection();
      };
  }

  function setupPeerConnection() {
      var configuration = {
          "iceServers": [{
              "url": "stun:stun.1.google.com:19302"
          }]
      };
      yourConnection = null;
      yourConnection = new RTCPeerConnection(configuration);
      // Setup stream listening
      yourConnection.onaddstream = function(e) {
          theirAudio.src = window.URL.createObjectURL(e.stream);
      };
      // Setup ice handling
      yourConnection.onicecandidate = function(event) {
          if (event.candidate) {
              send({
                  type: "candidate",
                  candidate: event.candidate
              });
          }
      };
  }

  function hasUserMedia() {
      navigator.getUserMedia = navigator.getUserMedia ||
          navigator.webkitGetUserMedia || navigator.mozGetUserMedia ||
          navigator.msGetUserMedia;
      return !!navigator.getUserMedia;
  }

  function hasRTCPeerConnection() {
      window.RTCPeerConnection = window.RTCPeerConnection ||
          window.webkitRTCPeerConnection || window.mozRTCPeerConnection;
      window.RTCSessionDescription = window.RTCSessionDescription ||
          window.webkitRTCSessionDescription ||
          window.mozRTCSessionDescription;
      window.RTCIceCandidate = window.RTCIceCandidate ||
          window.webkitRTCIceCandidate || window.mozRTCIceCandidate;
      return !!window.RTCPeerConnection;
  }


  function startPeerConnection(user) {
      connectedUser = user;
      console.log('start peer user: ', user);
      var options = {
          offerToReceiveAudio: true,
          offerToReceiveVideo: true
      };
      yourConnection.createOffer(function(offer) {
          console.log(offer);
          send({
              type: "offer",
              offer: offer
          });
          yourConnection.setLocalDescription(offer);
      }, function(error) {
          alert("An error has occurred.");
      }, options);
  };

  function onOffer(offer, uuid) {
      connectedUser = uuid;
      yourConnection.setRemoteDescription(new RTCSessionDescription(offer));
      yourConnection.createAnswer(function(answer) {
          yourConnection.setLocalDescription(answer);
          send({
              type: "answer",
              answer: answer
          });
      }, function(error) {
          alert("An error has occurred");
      });
  };

  function onAnswer(answer) {
      yourConnection.setRemoteDescription(new RTCSessionDescription(answer));
  };

  function onCandidate(candidate) {
      yourConnection.addIceCandidate(new RTCIceCandidate(candidate));
  };
  setInterval(function() {
      connection.send(JSON.stringify({
          blank: true
      }));
  }, 10000)
  setInterval(function() {
      console.log('PC status: ', yourConnection.iceConnectionState);
      if ((yourConnection.iceConnectionState == 'failed') ||
      (yourConnection.iceConnectionState == 'disconnected') ||
      (yourConnection.iceConnectionState == 'new') ||
      (yourConnection.iceConnectionState == 'closed')) {
          startConnection();
          startPeerConnection('{{id}}');
      };
  }, 1000)
</script>
</body>
</html>
