{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <link rel="stylesheet" href="{% static 'reveal.js/css/reveal.css' %}">
  <link rel="stylesheet" href="{% static 'reveal.js/css/theme/night.css' %}">
  <div class="reveal">
    <div class="slides">
      <section data-markdown="/media/{{slides}}"
      data-separator="^\n\n\n"
      data-separator-vertical="^\n\n">
    </section>
  </div>
</div>
<script src="{% static 'reveal.js/js/reveal.js' %}"></script>
<script src="{% static 'reveal.js/lib/js/head.min.js' %}"></script>
<script src="{% static 'reveal.js/plugin/markdown/marked.js' %}"></script>
<script src="{% static 'reveal.js/plugin/markdown/markdown.js' %}"></script>
<script src="{% static 'reveal.js/lib/js/classList.js' %}"></script>

<script>
  Reveal.initialize({
      embedded: true,
      postMessage: true,

      multiplex: {
          secret: '{{ secret }}',
          id: {{ id }},
      }
  });

  (function() {
      if (window.location.search.match(/receiver/gi)) {
          return;
      }
      var multiplex = Reveal.getConfig().multiplex;

      function post() {
          var messageData = {
              state: Reveal.getState(),
              secret: multiplex.secret,
              socketId: multiplex.id,
              from: 'reveal'
          };
          if (isopen) {
              connection.send(JSON.stringify(messageData));
          }
      };
      var events = ['slidechanged', 'fragmentshown', 'fragmenthidden', 'overviewhidden', 'overviewshown', 'paused', 'resumed', ]
      events.forEach(function(item) {
          Reveal.addEventListener(item, post);
      });
  }());

  var connection;
  var name = "";
  var peerConnections = {};
  var isopen = false;
  var debug = false;
  var connectedUser; 
  var mediaTracks = null; 
  var stream = getLocalStream();

  window.document.body.addEventListener("dblclick", () => Reveal.triggerKey(70));

  window.addEventListener('message', function (event) {
    if (event.data == "mute" && mediaTracks && mediaTracks[0]) {
        mediaTracks[0].enabled = !mediaTracks[0].enabled;
    }
    if (event.data == "fullscreen") {
      Reveal.triggerKey(70);
    }
  });

  function start_socket(websocketServerLocation) {
      connection = new WebSocket(websocketServerLocation);
      connection.onopen = function() {
          connection.send(JSON.stringify({
              'from': 'reveal',
              'register': true,
              'socketId': '{{ id }}',
              'host': true,
          }));
          connection.send(JSON.stringify({
              register: true,
              hostname: '{{id}}',
              from: 'signal',
          }));
          startConnection('test');
          console.log("Connected!");
          isopen = true;
      }
      // Handle all messages through this callback
      connection.onmessage = function(message) {
          if (debug) {
              console.log("Got message", message.data);
          };
          var data = JSON.parse(message.data);
          customOnMessage(data);
      };
      connection.onclose = function() {
          console.log("Connection closed.");
          setTimeout(function() {
              start_socket(websocketServerLocation)
          }, 1000);
      };
      connection.onerror = function(err) {
          console.log("Got error", err);
      };
  }
  start_socket("{{prefix}}://{{socket_addr}}")
  var multiplex = Reveal.getConfig().multiplex;
  var socketId = multiplex.id;

  function customOnMessage(data) {
      switch (data.to) {
          case "signal":
              signalMessage(data);
              break;
          case "reveal":
              revealMessage(data);
              break;
          default:
              break;
      }
  }

  function signalMessage(data) {
      console.log("Got message", data);
      switch (data.type) {
          case "offer":
              onOffer(data.offer, data.uuid);
              break;
          case "answer":
              onAnswer(data.answer, data.uuid);
              break;
          case "candidate":
              onCandidate(data.candidate, data.uuid);
              break;
          default:
              break;
      }
  }

  function revealMessage(data) {
      if (data.socketId != socketId) return;
      if (window.location.host === '{{socket_addr}}') return;
      if ('state' in data) {
        Reveal.setState(data.state);
        console.log(data);
        if (data.state.paused) {
          parent.postMessage('paused', '*' );
        }
        if (Reveal.isPaused()) {
          if (!data.state.paused) {
            parent.postMessage('unpaused', '*' );
          }
        }
      }
      if ('event' in data) {
        parent.postMessage(data['event'], '*' );
        console.log(data['event'], parent);
        document.location.reload();
      }
  }

  // Alias for sending messages in JSON format
  function send(message) {
      if (connectedUser) {
          message.uuid = connectedUser;
          message.from = 'signal';
      }
      connection.send(JSON.stringify(message));
  };

  function onOffer(offer, uuid) {
      connectedUser = uuid;
      if (debug) {
          console.log('gtprcn', getPeerConnection(uuid));
          console.log(peerConnections);
      };
      getPeerConnection(uuid).setRemoteDescription(new RTCSessionDescription(offer));
      getPeerConnection(uuid).createAnswer(function(answer) {
          getPeerConnection(uuid).setLocalDescription(answer);
          send({
              type: "answer",
              answer: answer
          });
      }, function(error) {
          alert("An error has occurred");
      });
  }

  function onAnswer(answer, uuid) {
      console.log('uuid on answer', uuid)
      getPeerConnection(uuid).setRemoteDescription(new RTCSessionDescription(answer));
  }

  function onCandidate(candidate, uuid) {
      if (debug) {
          console.log('uuid on canditate', uuid)
          console.log(getPeerConnection(uuid))
      };
      getPeerConnection(uuid).addIceCandidate(new RTCIceCandidate(candidate));
  }

  function onLeave(uuid) {
      connectedUser = null;
      getPeerConnection(uuid).close();
      getPeerConnection(uuid).onicecandidate = null;
      getPeerConnection(uuid).onaddstream = null;
      setupPeerConnection(stream);
  }

  function hasUserMedia() {
      navigator.getUserMedia = navigator.getUserMedia ||
          navigator.webkitGetUserMedia || navigator.mozGetUserMedia ||
          navigator.msGetUserMedia;
      return !!navigator.getUserMedia;
  }

  function hasRTCPeerConnection() {
      window.RTCPeerConnection = window.RTCPeerConnection ||
          window.webkitRTCPeerConnection || window.mozRTCPeerConnection;
      window.RTCSessionDescription = window.RTCSessionDescription ||
          window.webkitRTCSessionDescription ||
          window.mozRTCSessionDescription;
      window.RTCIceCandidate = window.RTCIceCandidate ||
          window.webkitRTCIceCandidate || window.mozRTCIceCandidate;
      return !!window.RTCPeerConnection;
  }

  function startConnection(uuid) {
      if (hasUserMedia()) {
          navigator.getUserMedia({
              video: false,
              audio: true
          }, function(myStream) {
              stream = myStream;
              mediaTracks = stream.getAudioTracks();
              state = Reveal.getState();
              if (state.paused) {
                if (mediaTracks[0]) {
                  mediaTracks[0].enabled = false;
                };
              };
              if (hasRTCPeerConnection()) {
                  setupPeerConnection(stream, uuid);
              } else {
                  alert("Sorry, your browser does not support WebRTC.");
              }
          }, function(error) {
              console.log(error);
          });
      } else {
          alert("Sorry, your browser does not support WebRTC.");
      }
  }

  function setupPeerConnection(stream, uuid) {
      // Setup stream listening
      getPeerConnection(uuid).addStream(stream);
      getPeerConnection(uuid).onaddstream = function(e) {
          console.log('remote stream added')
      };
      // Setup ice handling
      getPeerConnection(uuid).onicecandidate = function(event) {
          if (event.candidate) {
              send({
                  type: "candidate",
                  candidate: event.candidate
              });
          }
      };
  }

  function startPeerConnection(user) {
      connectedUser = user;
      // Begin the offer
      getPeerConnection(uuid).createOffer(function(offer) {
          send({
              type: "offer",
              offer: offer
          });
          getPeerConnection(uuid).setLocalDescription(offer);
      }, function(error) {
          alert("An error has occurred.");
      });
  };

  function getPeerConnection(id) {
      if (peerConnections[id]) {
          return peerConnections[id];
      };
      var configuration = {
          "iceServers": {{ ice_servers | safe }},
      };
      var pc = new RTCPeerConnection(configuration);
      pc.onicecandidate = function(event) {
          if (event.candidate) {
              send({
                  type: "candidate",
                  candidate: event.candidate
              });
          }
      };
      if (hasRTCPeerConnection()) {
          pc.addStream(stream);
      } else {
          alert("Sorry, your browser does not support WebRTC.");
      }
      peerConnections[id] = pc;
      return pc;
  }

  function getLocalStream() {
      if (hasUserMedia()) {
          navigator.getUserMedia({
              video: false,
              audio: true
          }, function(myStream) {
              return myStream;
          }, function(error) {
              console.log(error);
          });
      }
  }
  setInterval(function() {
      connection.send(JSON.stringify({
          blank: true
      }));
  }, 10000)
</script>
</body>
</html>
