{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <link rel="stylesheet" href="{% static 'reveal.js/css/reveal.css' %}">
  <link rel="stylesheet" href="{% static 'reveal.js/css/theme/night.css' %}">
  <div class="reveal">
    <div class="slides">
      <section>
          <p>Event {{state}}</p>
          {% if state %}
              <h1>{{date | time:"H:i"}} </h1>
              <h1>{{date | date:"d.m.Y"}}</h1>
          {% endif %}
      </section>
  </div>
</div>
<audio id="theirs" autoplay></audio>
<script src="{% static 'reveal.js/js/reveal.js' %}"></script>
<!--<script src="{% static 'reveal.js/lib/js/head.min.js' %}"></script>-->
<script>
  Reveal.initialize(
  {
    controls: false,
    progress: false,
    keyboard: false,
    overview: false,
  });

  var isopen = false;
  var connection;
  var socketId = '{{ id }}';
  function start_socket(websocketServerLocation) {
      connection = new WebSocket(websocketServerLocation);
      connection.onopen = function() {
          isopen = true;
          connection.send(JSON.stringify({
              'from': 'reveal',
              'register': true,
              'waiter': true,
              'socketId': '{{ id }}',
          }));
          console.log("Connected!");
      }
      connection.onmessage = function(e) {
          data = JSON.parse(e.data);
          console.log(data);
          customOnMessage(data);
      }
      connection.onclose = function() {
          console.log("Connection closed.");
          setTimeout(function() {
              start_socket(websocketServerLocation)
          }, 1000);
      };
      connection.onerror = function(err) {
          console.log("Got error", err);
      };
  }

  start_socket("{{prefix}}://{{socket_addr}}");

  function customOnMessage(data) {
      if (data.socketId != socketId) return;
      if (window.location.host === '{{socket_addr}}') return;
      if ('state' in data) {
        Reveal.setState(data.state);
      }
      if ('event' in data) {
        parent.postMessage(data['event'], '*' );
        console.log(data['event'], parent);
        document.location.reload();
      }
  }
</script>
</body>
</html>
